<h2>{{ editingAdmin ? 'Редактировать Админа' : 'Добавить Админа' }}</h2>

<div class="form-wrapper">
  <form (ngSubmit)="saveAdmin()" #f="ngForm">
    <label>
      Имя:
      <input [(ngModel)]="form.username" name="name" required />
    </label>
    <label>
      Email:
      <input [(ngModel)]="form.email" name="email" required />
    </label>
    <label>
      Телефон:
      <input [(ngModel)]="form.phone" name="phone" required />
    </label>
    <button type="submit">{{ editingAdmin ? 'Обновить' : 'Добавить' }}</button>
    <button type="button" (click)="resetForm()" *ngIf="editingAdmin">Отмена</button>
  </form>
</div>


<hr />

<h2>Список админов</h2>
<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Email</th>
      <th>Телефон</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let admin of admins">
      <td>{{ admin.username }}</td>
      <td>{{ admin.email }}</td>
      <td>{{ admin.phone }}</td>
      <td>
        <button (click)="editAdmin(admin)">Редактировать</button>
        <button (click)="deleteAdmin(admin.id)">Удалить</button>
      </td>
    </tr>
  </tbody>
</table>
