<div class="home-container">
  <div class="fitness-description-card">
    <h1 class="title">Фитнес-клуб "Энергия"</h1>
    <div class="content">
      <p>
        Добро пожаловать в информационную систему фитнес-клуба "Энергия" - вашего надежного помощника в организации
        тренировочного процесса и управления клубом.
      </p>

      <h2>Возможности системы:</h2>
      <ul class="features-list">
        <li>Учет клиентов, менеджеров и тренеров</li>
        <li>История посещний</li>
        <li>Мониторинг посещаемости</li>
        <li>Услуги</li>
      </ul>
    </div>
  </div>
</div>
