<h2>{{ editingVisit ? 'Редактирование посещения' : 'Добавление посещения' }}</h2>

<div class="form-wrapper">
  <form (ngSubmit)="saveVisit()" #visitForm="ngForm">
  <label>
    Клиент:
    <select [(ngModel)]="form.client_id" name="client_id" required #clientId="ngModel"  [class.invalid]="clientId.invalid && clientId.touched">
      <option *ngFor="let client of clients" [value]="client.id">{{ client.username }}</option>
    </select>
  </label>

  <label>
    Тренер:
    <select [(ngModel)]="form.trainer_id" name="trainer_id" required #trainerId="ngModel"  [class.invalid]="trainerId.invalid && trainerId.touched">
      <option *ngFor="let trainer of trainers" [value]="trainer.id">{{ trainer.username }}</option>
    </select>
  </label>

  <label>
    Менеджер:
    <select [(ngModel)]="form.manager_id" name="manager_id" required #managerId="ngModel"  [class.invalid]="managerId.invalid && managerId.touched">
      <option *ngFor="let manager of managers" [value]="manager.id">{{ manager.username }}</option>
    </select>
  </label>

  <label>
    Дата посещения:
    <input type="date" [(ngModel)]="form.visit_date" name="visit_date" required #visitDate="ngModel"  [class.invalid]="visitDate.invalid && visitDate.touched"/>
  </label>

  <button type="submit" [disabled]="visitForm.invalid">
    {{ editingVisit ? 'Обновить' : 'Добавить' }}
  </button>
  <button type="button" (click)="resetForm(visitForm)" *ngIf="editingVisit">Отмена</button>
</form>

</div>

<hr />


<h2 style="display: flex; justify-content: center; align-items: center;">
  <span class="title">Список посещений</span>
  <button class="pdf-button" (click)="downloadPDF()">Скачать PDF</button>
</h2>
<!-- Поиск -->
<div class="search-wrapper">
  <label>
    Поиск:
    <input type="text" [(ngModel)]="searchQuery" placeholder="Введите имя клиента, тренера или менеджера" />
  </label>
</div>

<table id="visitsTable">
  <thead>
    <tr>
      <th>Клиент</th>
      <th>Тренер</th>
      <th>Менеджер</th>
      <th>Дата посещения</th>
      <th class="no-print">Действия</th>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let visit of filteredVisits()">
      <td>{{ getClientName(visit.client_id) }}</td>
      <td>{{ getTrainerName(visit.trainer_id) }}</td>
      <td>{{ getManagerName(visit.manager_id) }}</td>
      <td>{{ visit.visit_date }}</td>
      <td class="no-print">
        <button (click)="editVisit(visit)">Редактировать</button>
        <button (click)="deleteVisit(visit.id)">Удалить</button>
      </td>
    </tr>
  </tbody>
</table>

